//Fontes
$fonte: 'Roboto', sans-serif;


//Cores
$cor-primaria: #541212;
$cor-secundaria: #395B64;
$cor-terciaria: #EDDFB3;
$cor-quartuaria: #EF5B0C;

// tamanho das fontes
$tamanho-do-texto: 3rem;